<div id="sipdialogs" ng-controller="SIPDialogs">

    <section ng-include="'/partials/networktraffic/snapshotfilter.html'"
        ng-show="filterDisplayed" ng-controller="DialogFilter"></section>

    <div class="dialog" ng-repeat="dialog in dialogs.sipdialogs">
        <table class="table">
            <tbody>
                <tr>
                    <th>Call-id</th>
                    <td>{{dialog.transactions[0].call_id}}</td>
                </tr>
                <tr>
                    <th>Local Tag</th>
                    <td>{{dialog.transactions[0].local_tag}}</td>
                </tr>
                <tr>
                    <th>Remote Tag</th>
                    <td>{{dialog.transactions[0].remote_tag}}</td>
                </tr>
                <tr>
                    <th>Participants</th>
                    <td>
                        <div>{{dialog.sender}}</div>
                        <div ng-show="!sameParticipant(dialog.sender, dialog.receiver)">{{dialog.receiver}}</div>
                    </td>
                </tr>
                <tr>
                    <th>Transactions</th>
                    <td>
                        <div ng-repeat="transaction in dialog.transactions | orderBy:'utc':false">{{transaction.utc | precisedate}} | <b>{{transaction.request}}</b> | <span class="label" ng-class="getStatusClass(transaction.status)">{{transaction.status}}</span> | 
                            <a ng-click="toggleTransaction(dialog, transaction)">
                                <span ng-hide="isActiveTransaction(dialog, transaction._id)">Show messages</span>
                                <span ng-show="isActiveTransaction(dialog, transaction._id)">Hide messages</span>
                                ({{transaction.message_ids.length}})
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="dialogmessages">
            <div ng-repeat="networkmessage in dialog.messages | orderBy:messages.sortby">
                <networkmessage
                    data="networkmessage"
                    total="dialog.messages.length"
                    index="$index"
                    offset="offset">
                </networkmessage>
            </div>
        </div>

    </div>
</div>