<div id="sipdialogs" ng-controller="SIPDialogs">

    <section ng-include="'/partials/networktraffic/snapshotfilter.html'"
        ng-show="filterDisplayed" ng-controller="DialogFilter"></section>

    <div class="dialog" ng-repeat="dialog in dialogs.sipdialogs">
        <table class="table">
            <tbody>
                <tr>
                    <th>Call-id</th>
                    <td>{{dialog.call_id}}</td>
                </tr>
                <tr>
                    <th>Local Tag</th>
                    <td>{{dialog.local_tag}}</td>
                </tr>
                <tr>
                    <th>Remote Tag</th>
                    <td>{{dialog.remote_tag}}</td>
                </tr>
                <tr>
                    <th>Participants</th>
                    <td>{{dialog.sender}}<br>{{dialog.receiver}}</td>
                </tr>
                <tr>
                    <th>SIP Messages</th>
                    <td>{{dialog.messages.length}}</td>
                </tr>
            </tbody>
        </table>

        <div ng-controller="DialogMessages">

            <a ng-click="toggleDisplayed()" ng-hide="messages.displayed">Show network messages</a>
            <a ng-click="toggleDisplayed()" ng-show="messages.displayed">Hide network messages</a>

            <div ng-show="messages.displayed">
        
                <div class="info networkmessage"
                    ng-repeat="networkmessage in messages.messages | orderBy:messages.sortby">

                    <networkmessage
                        data="networkmessage"
                        total="messages.messages.length"
                        index="$index"
                        offset="offset">
                    </networkmessage>
                </div>
            </div>
        </div>
    </div>
</div>