<div id="networkmessages" ng-controller="TaggedMessagesCtrl">

    <div ng-show="isMessages()">

        <pagination
            num-pages="pagination.totalPages"
            current-page="pagination.currentPage"
            boundary-links="true">
        </pagination>

        <div class="info networkmessage" ng-repeat="networkmessage in networkmessages.networkmessages">
            <networkmessage
                data="networkmessage"
                total="networkmessages.total"
                index="$index"
                offset="pagination.offset">
            </networkmessage>
        </div>

        <pagination
            num-pages="pagination.totalPages"
            current-page="pagination.currentPage"
            boundary-links="true">
        </pagination>
    </div>

    <div ng-hide="isMessages()">
        <p>Currently no tagged network messages.</p>
    </div>
</div>