<div id="networkmessages" class="info networkmessage" ng-repeat="networkmessage in networkmessages.networkmessages">

    <div id="messagebar">
        <h5>Network message {{$index + 1}} of {{networkmessages.networkmessages.length}}</h5>
        <div id="message-view-selector">
            <select ng-model="currentmessageview" ng-options="view for view in messageviews">
            </select>
        </div>
        <a ng-click="Untag(networkmessage._id)">Untag</a>
    </div>

    <div ng-switch on="currentmessageview">
    
        <table class="table" ng-switch-when="Details">
            <tbody>
                <tr>
                    <th>Time</th>
                    <td>{{networkmessage.utc | precisedate}}</td>
                </tr>
                <tr>
                    <th>Protocol</th>
                    <td>{{networkmessage.protocol}}/{{networkmessage.version}}</td>
                </tr>
                <tr>
                    <th>Method</th>
                    <td>{{networkmessage.method}}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{networkmessage.status}}</td>
                </tr>
                <tr>
                    <th>Source</th>
                    <td>{{networkmessage.source}}{{networkmessage.source_port | formatport}}</td>
                </tr>
                <tr>
                    <th>Destination</th>
                    <td>{{networkmessage.destination}}{{networkmessage.destination_port | formatport}}</td>
                </tr>
            </tbody>
        </table>

        <table class="table" ng-switch-when="Headers">
            <tbody>
                <tr ng-repeat="header in networkmessage.headers">
                    <th>{{header.name}}</th>
                    <td>{{header.value}}</td>
                </tr>
            </tbody>
        </table>

        <p ng-switch-when="Content">{{networkmessage.content}}</p>

    </div>
</div>

<div ng-hide="isMessages()">
    <p>Currently no tagged network messages.</p>
</div>