<div id="networkmessages" ng-controller="TaggedMessages">

    <div ng-show="isMessages()">
        <pagination pagination="pagination"></pagination>

        <div class="info networkmessage" ng-repeat="networkmessage in taggedmessages.networkmessages">
            <networkmessage
                data="networkmessage"
                total="pagination.total"
                index="$index"
                offset="pagination.offset">
            </networkmessage>
        </div>

        <pagination pagination="pagination"></pagination>
    </div>

    <div ng-hide="isMessages()">
        <p>Currently no tagged network messages.</p>
    </div>
</div>