/* Styles for the main layout */
html, body, div#container {
    width: 100%;
    height: 100%;
    overflow: auto;
}

body {
    font-size: 12px;
}

h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
}

h2, h3, h4 {
    font-size: 14px;
    line-height: 14px;
}

h4 {
    padding: 10px 20px;
}

p {
    padding: 8px;
}

select {
    width: auto;
    font-size: 12px;
    padding: 0;
    height: 22px;
}
select:focus {
    outline: none;
}

input[type="file"] {
    height: auto;
}

div.info {
    margin: 20px;
    margin-top: 0;
}

table.table {
    float: left;
    width: 100%;
    table-layout: fixed;
    th {width: 25%; padding: 5px;}
    td {width: 75%; padding: 5px;}
    th, td {word-wrap: break-word;border:none;}
    tr {border-top: 1px solid #ddd;}
}

table tr:first-child {
    border: none;
}

.nav-tabs.nav-stacked {
    li:last-child > a, li:first-child > a {
        border-radius: 0px;
    }
    li:first-child > a {
        border-top:none;
    }
}

input {
    vertical-align: middle;
}

header {

    #toolbar {
        background-color: #F5F5F5;
        border-bottom: thin #D3D3D3 solid;

        h2 {
            min-height: 14px;
            padding: 8px 15px;
        }
    }
}

div.clearfloat {
    clear: both;
}

form.form-horizontal {
    margin: 20px;
}

div#panels {
    float: left;
    background-color: #F5F5F5;
    border-right: thin #D3D3D3 solid;
    width: 200px;
    height: 100%;
    overflow: auto;
}

div#content-wrapper {
    overflow: hidden;
}

div#content {
    height: 100%;
    overflow: auto;
}


/* STYLE THE PAGE TITLE TOOLBAR */
div.titlebar {
    background-color: #F5F5F5;
    padding: 10px 20px;
    margin-bottom: 10px;

    h3 {
        float:left;
        padding: 4px;
    }

    select {
        margin: 0 10px;
    }

    div#snapshot-view-selector {
        float: left;
    }
}




#snapshots ul li a ul {

    li {
        color: #333;
    }

    li:first-child {
        font-weight: 600;
        color: #4775A7;
    }
}

h5.tbar {
    float: left;
    width: 100%;
    background-color: #eeeeee;
    padding: 8px;
}

div.networkmessage {

    padding: 10px;
    clear: both;

    div#messagebar {
        float: left;
        width: 100%;
        background-color: #eeeeee;
        border-radius: 4px;

        h5 {
            padding: 8px;
            float: left;
        }

        div#message-view-selector {
            float:right;
            text-align: right;

            select {
                width: auto;
                margin: 4px;
            }
        }

        a {
            float:right;
            padding: 5px;
        }
    }

    div#messagecontent {
        padding: 10px;
        clear: both;
    }

    div.xmlroot {
        margin: 0 -10px;
    }

    div.xmlnode {

        div {
            margin: 3px 10px;

            div.group {
                
                border-left: dotted thin #4775A7;
            }

            p {
                padding: 0;
                margin: 0;
            }
        }
    }
}

.pagination {
    margin: 5px;
}


div.dialog {
    padding: 10px;
    margin: 10px;
    background-color: #F5F5F5;
    border-radius: 6px;

    table {
        float: none;
        margin: 0px;
    }

    div.dialogmessages {
        background-color: #fff;
        border-radius: 6px;
        a {
            padding: 5px;
            padding-bottom: 10px;
        }
    }
}

div#newnote input {
    width: 550px;
}

div.note {
    border-bottom: solid 1px #fff;

    p {
        cursor: pointer;
    }

    div {
        margin: 0 5px 5px 5px;

        i {
           cursor: pointer; 
        }
    }
}

div.note:last-of-type {
    border-bottom: none;
}

/* Filter form filtering */
section.bold-panel {
    background-color: #4775A7;
    padding: 20px;
    margin: 10px;
    /*border-radius: 10px;*/
    color: #fff;

    form {
        margin: 0;

        div.category {
            margin: 20px;
            float: left;
        }

        div.control-group {
            clear: left;
            margin: 0 20px;
            div.controls {margin: 0}
        }
    }

    h2 {font-size: 18px;
        color: #fff;
        padding: 0 20px 10px 20px;
        border-bottom: 1px solid #eee;
        font-weight: 400;
    }
    h3 {
        color: #fff;
        font-size: 16px;
        margin-bottom: 10px;
        font-weight: 400;
    }

    p { margin: 0;}
}
