/* Styles for the main layout */

html, body, div#container {
    width: 100%;
    height: 100%;
    overflow: auto;
}

body {
    font-size: 12px;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
}

h1, h2, h3, h4 {
    font-size: 14px;
    line-height: 14px;
}

h1 {
    font-size: 15px;
    color: #FFF;
    padding: 20px;
}

h3 {
    padding: 5px 20px;
}

h4 {
    padding: 10px 20px;
}

div.info {
    margin: 20px;
    margin-top: 0;
}

select {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}

table.table {
    table-layout: fixed;
    th {width: 25%; padding: 5px;}
    td {width: 75%; padding: 5px;}
    th, td {word-wrap: break-word;border:none;}
    tr {border-top: 1px solid #ddd;}
}

div#test {

    h3{
        float:left;
    }

    #snapshot-view-selector {
        float:right;
        
        select {
           width: auto;
           margin: 4px 20px;
        }
    }
}

p {
    padding: 8px;
}

table tr:first-child {
    border: none;
}

div.networkmessage {

    div#messagebar {
        background-color: #eeeeee;

        h5 {
            padding: 8px;
            float: left;
        }

        div#message-view-selector {
            text-align: right;

            select {
                width: auto;
                margin: 4px;
            }
        }
    }
}

.nav-tabs.nav-stacked {
    li:last-child > a, li:first-child > a {
        border-radius: 0px;
    }
    li:first-child > a {
        border-top:none;
    }
}

input {
    vertical-align: middle;
}

header {
    background-color: #4775A7;
}

div#content-wrapper {
    overflow: hidden;
}

form.form-horizontal {
    margin: 20px;
}

div#panels {
    float: left;
    background-color: #F5F5F5;
    border-right: thin #D3D3D3 solid;
    width: 200px;
    height: 100%;
    overflow: auto;
}

div#content {
    height: 100%;
    overflow: auto;
}

ul#snapshotlist {
    margin: 0;
}
div#snapshotlisttools {
    bottom: 0;
    width: 100%;
}
div#snapshotlisttools .tool {
    float: right;
}

div.clearfloat {
    clear: both;
}

div#content #snapshot {
    margin: 10px 0;

    div#networkmessages {
        margin-top: 10px;
    }
}


#toolbar {
    background-color: #F5F5F5;
    border-bottom: thin #D3D3D3 solid;

    h2 {
        float: left;
        margin: 8px 15px;
    }

    #controls {
        float: right;
        text-align: right;
        margin: 5px;
    }
}



div#primarynav {
    background: none;

    .brand, .nav li a, .nav li a:hover  {
        color: #fff;
        text-shadow: none;
    }

    .nav li a:hover  {
        text-decoration: underline;
    }

    .nav li.active a, .nav li.active a:hover {
        color: #555;
        text-decoration: none;
        border-bottom: 1px #D3D3D3 solid;
    }
}